<div id="rounds-accordion" class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#rounds-accordion" href="#collapseOne">
      Round 1
    </a>
  </div>
  <div id="collapseOne" class="accordion-body collapse in">
    <div class="accordion-inner">
      <%= f.input :name, :label => 'Round Name' %>
      <%= f.link_to_remove "Remove" %>
    </div>
  </div>
</div>
